a {

    color: #FCD1DA;
}

a:hover {

    color: #d3697e;
    text-decoration: none;
}

body {
    font-family: "Google Sans", arial, sans-serif;
}
h1 {
color: rgb(135, 135, 135);
font-size: 24px;
font-weight: 100;
line-height: 28px;
margin-bottom: 0;
}

h2 {
color: rgb(186, 186, 186);
font-size: 12px;
}

h3 {    
color: rgb(186, 186, 186);
display: inline;
font-size: 12px;
font-weight: 400;
height: auto;
line-height: 14.4px;
text-align: center;
}

li {
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    text-transform: capitalize;
}

ul{
    padding: 0;
    margin: 0;
}

.btn-primary {
background-color:#FCD1DA;
border: #FCD1DA;
}

.btn-primary:hover {
    background-color:#d3697e;

}

.fa-heart {

    font-size: 20px;
}
.footer {
    max-width: 800px;
    margin: 0 auto 3px;
  }
.quote {
    color:#FCD1DA;
    font-size: 30px;
    font-family: 'Grand Hotel', cursive;
    text-align: center;
    align-items: center;
display: flex;
    
          }

    .weather-forecast .col-2 {
        text-align: center;
      }
.small-cap {
    text-transform: lowercase;
}

.weather-forecast h3 {
    color: rgb(186, 186, 186);
    font-size: 14px;
    font-weight: 400;
    height: 15px;
    line-height: 15px;
    padding-top: 15px;
    text-align: center;
  }
  
  .weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
  
  .weather-forecast-temperature {
    text-align: center;
    color: rgb(135, 135, 135);
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
  }

.weather-temperature img {
    height: 64px;
    margin-top: 0px;
    text-align: left;
    width: 64px;  
}

.weather-temperature strong  {
font-size: 64px;
line-height: 1;
font-weight: 400;
}

.weather-temperature .active {
color: rgb(33, 33, 33);
cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
        }

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
.overview{
    margin-bottom: 20px;
}
.weather-app {
margin: 30px auto;
padding: 20px 16px 24px;
border: 2px solid #FCD1DA;
border-radius: 8px;
max-width: 80%;
}

/*
.weather-app-wrapper {
    max-width: 600px;
   }